html, body {
  min-height: 100vh;
}

p {
  margin-bottom: .25rem !important;
}

.bg-app-primary {
  background-color: var(--app-primary) !important;
}

.bg-app-primary-light {
  background-color: var(--app-primary-light) !important;
}

.bg-app-primary-dark {
  background-color: var(--app-primary-dark) !important;
}

.text-app-primary {
  color: var(--app-primary) !important;
}

.text-app-primary-light {
  color: var(--app-primary-light) !important;
}

.text-app-primary-dark {
  color: var(--app-primary-dark) !important;
}

:root {
  --app-primary: #fc9265;
  --app-primary-light: #ffd3be;
  --app-primary-dark: #d56c3e;

}