.bg-app-primary {
  background-color: var(--app-primary) !important;
}

.text-app-primary {
  color: var(--app-primary) !important;
}

:root {
  --app-primary: #fc9265;
  --app-primary-light: #ffd3be;
  --app-primary-dark: #d56c3e;

}