.card {
    border-top: 0;
}

.nav-tabs .nav-link {
    height: 3rem;
    background-color: #f8f9fa;
    color: black;
    border: 1px solid #dee2e6;
    font-weight: 500;
    transition: background-color 0.2s, color 0.2s;
}

/* Hover effect */
.nav-tabs .nav-link:hover {
    background-color: #dbdbdb;
}

/* Active tab */
.nav-tabs .nav-link.active {
    background-color: rgba(var(--bs-dark-rgb));
    color: var(--app-primary);
    border-color: rgba(var(--bs-dark-rgb));
}